
.navs{
    border-radius: 2px;
    width:1000px;
    align-content: center;
}

.card{
    display:flex;
    width:1120px;
    justify-content:center;
    margin:81px;
    margin-top:2px;
}

img {
    display: flex;
    width: 80px;
    display: flex;
}